<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3cf42390-78a2-4c10-922f-0783f824a568/resourcegroups/Azure_demo/providers/Microsoft.Web/sites/github-branch-demo</ResourceId>
    <ResourceGroup>Azure_demo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://github-branch-demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9d039f63-a0a9-4382-b6db-ae6bd9dcd1e8</ProjectGuid>
    <PublishUrl>https://github-branch-demo.scm.azurewebsites.net/</PublishUrl>
    <UserName>$github-branch-demo</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>